body {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;  /* impede scroll lateral */
    overflow-y: auto;    /* garante scroll vertical */
    background-color: rgb(60, 60, 60);
    font-family: 'nunito', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  nav-bar css */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(21, 21, 21);
    padding: 35px;
    color: white;
}
.nav-links {
    display: flex;
    flex: 1; /* 👈 ocupa todo o espaço restante da navbar */
    justify-content: space-evenly; /* distribui igualmente */

    margin-left: 40px; /* espaço entre logo e links */
}
    a:not(.nav-bar) {
    color:#ffff;
    text-decoration: none;
}
    a:not(.nav-bar) {
    font-family:'Poppins', sans-serif;
    color: white;
}
    a:hover {
    color:#8e8e8e;
}

/*  div sobre mim css */
.sobre-mim {
    background-color: black;
    color: aliceblue;

    width: 1200px;
    min-height: 800px;
    margin: 40px auto;
    padding: 40px;

    border-radius: 25px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);

    display: flex;
    flex-direction: column; /* 👈 empilha texto + cards */
    gap: 40px;
}
.texto-sobre {
    text-align: center;
}
.container-linguagens {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap; /* 👈 agora quebra linha certo */
}

.linguagens {
    width: 200px;
    height: 200px;

    background-color: black;
    color: aliceblue;

    border-radius: 25px;
    box-shadow: 0 10px 25px rgba(56, 56, 56, 0.95);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    text-align: center;
}
h1 {
    color: rgb(167, 167, 167);
}
h2 {
    color: rgb(89, 89, 89);
}
p {
    color: #39c947;
}
.footer {
    background-color:rgb(21, 21, 21);

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(177, 177, 177);
    height: 85px;
}